%p
  = label :first_name, "First name"
  %br
  = text_field :first_name
%p
  = label :last_name, "Last name"
  %br
  = text_field :last_name
%p
  = label :email, "Email Address"
  %br
  = text_field :email
%p
  = label :password
  %br
  = password_field :password
%p
  = label :password_confirmation, "Confirm Password"
  %br
  = password_field :password_confirmation

%p By clicking the become a member button, you agree to the terms of service and privacy policy

%p
  = f.submit "Sign Up"
