- javascript("sessions/new")

= content_for :title, "Log in"

#content
  #logo-container
    = image_tag "reserved.jpg", :class => 'logo'
  #slogan
    Exclusive pricing at the finest restaurants
  #login.less-dull
    %h3 Member Sign in

    - if flash[:alert]
      .flash-error
        = flash[:alert]

    = form_tag sessions_path do
      %p
        = label_tag :login, "Email Address"
        %br
        = text_field_tag :login, params[:login], :class => 'field'
      %p
        = label_tag :password
        %br
        = password_field_tag :password, nil, :class => 'field'
      %p
        = link_to "Forgot Password?", "#"
      %p
        = submit_tag "Sign in", :class => 'primary-button'
  #separator
  #signup.less-dull
    %h3 Become a Member for free
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur nisl at justo porttitor quis euismod eros feugiat.
    = link_to "Request Membership", signup_url
  #footer.less-dull
    = link_to "Home", "#"
    |
    = link_to "FAQ", "#"
    |
    = link_to "Careers", "#"
    |
    = link_to "Contact Us", "#"
    |
    = link_to "Terms of Use", "#"
    |
    = link_to "Privacy Policy", "#"
