= content_for :title, "Table Reserved"

- javascript("sessions/show")

#header
  #logo
    = image_tag "reserved.jpg"
  #seperator
  #city CHICAGO
  #arrow
    = image_tag "/images/arrow_small.jpeg"
    #cities.hidden
      %ul
        %li
          %a{:href=>"#"} Boston
        %li
          %a{:href=>"#"} New York
        %li
          %a{:href=>"#"} Miami
        %li
          %a{:href=>"#"} Miami
        %li
          %a{:href=>"#"} Miami
  #access-links
    = link_to "Log Out", logout_url
    #seperator
    = link_to "My Account", "#"
#gap
#page
  #tabs
    #tab-container
      %ul
        %li
          %a{:href=>"#tabs-3"} About Us
        %li
          %a{:href=>"#tabs-2"} How it Works
        %li.ui-tabs-selected
          %a{:href=>"#tabs-1"} Exclusive Offers
    #tabs-1
      = render :partial => "shared/restaurant", :collection => @restaurants
    #tabs-2
      This is how we do it
    #tabs-3
      Get to know us
  = render 'shared/footer'
