%html
  %head
  %body
    %p
      = "Your temporary password for Table Reserved Inc. is #{@password}. You can "
      = link_to "Login", url_for(:host => "tablereserved.com", :controller => "sessions", :action => "new")
      = "with this password now."
    %p
      = "After logging in, go to the 'My Account' section to change your password"
