%tr
  %td
    = restaurant.name
  %td
    = link_to "View", restaurant_show_admin_url(restaurant.id)
  %td
    = link_to "Edit", edit_restaurant_url(restaurant.id)
  %td
    = add_or_remove_link(restaurant)
  %td
    = link_to 'Delete Forever', delete_restaurant_url(restaurant.id)
