= content_for :title, "Administration"

- javascript("admin/show")

= render "shared/header"

#page
  #restaurant-form
    = flash[:notice]
    .error
      = flash[:error]
    %h3 Add a new restaurant :
    All fields are mandatory.
    %p
    = render "shared/restaurant_form"
  #user-info
    %h3 User Information :
    %p
      = link_to "Download CSV", all_users_csv_url
    %p
      = link_to "View Users", all_users_url
  #restaurants
    %h3 Existing Restaurants :
    %table
      = render :partial => "restaurant", :collection => @restaurants
