= content_for :title, "Administration"

= render "shared/header"

#page
  = render "restaurant_form"
  #user-info
    %h3 User Information :
    %p
      = link_to "Download CSV", all_users_csv_url
    %p
      = link_to "View Users", all_users_url
  #restaurants
    %h3 Existing Restaurants :
    %table
      = render :partial => "restaurant", :collection => @restaurants
