= form_for @user do |f|
  = f.error_messages
  %p
    = f.label :first_name, "First name"
    %br
    = f.text_field :first_name, :class => 'field'
  %p
    = f.label :last_name, "Last name"
    %br
    = f.text_field :last_name, :class => 'field'
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email, :class => 'field'
  %p
    = f.label :password
    %br
    = f.password_field :password, :class => 'field'
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation, :class => 'field'

  %p By clicking the 'Become a Member' button, you agree to the terms of service and privacy policy

  %p
    = f.submit "Become a Member", :class => '.primary-button'
