= form_for @user do |f|
  = f.error_messages
  #first-name
    = f.label :first_name, "First name"
    %br
    = f.text_field :first_name, :class => 'name-field'
  #last-name
    = f.label :last_name, "Last name"
    %br
    = f.text_field :last_name, :class => 'name-field'
    %br
  #fields
    = f.label :email, "Email Address"
    %br
    = f.text_field :email, :class => 'field'
  %p
    = f.label :password
    %br
    = f.password_field :password, :class => 'field'
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation, :class => 'field'
  %p
    = f.label :zip_code, "Zip Code"
    %br
    = f.text_field :zip_code, :class => 'field'
  %p
    = check_box_tag :terms
    = label_tag :terms, "I agree to the terms of service and privacy policy"

  %p
    = f.submit "Become a Member", :class => '.primary-button'
