= content_for :title, "Edit"

= render "shared/header"

#page
  #user-edit
    .header
      .heading
        Edit account information
    = flash[:notice]
    %br
    %h4 Note: All fields are mandatory.
    = form_for @user, :url => admin_update_user_url do |f|
      %span.flash-error
        = f.error_messages.first[:first_name].first ? f.error_messages.first[:first_name].first : f.error_messages.first[:last_name].first
      #first-name
        = f.label :first_name, "First name"
        %br
        = f.text_field :first_name, :class => 'name-field'
      #last-name
        = f.label :last_name, "Last name"
        %br
        = f.text_field :last_name, :class => 'name-field'
        %br
      #fields
        = f.label :email, "Email Address"
        %span.flash-error
          = f.error_messages.first[:email].first
        %br
        = f.text_field :email, :class => 'field'
        %br
        = f.label :zip_code, "Zip Code"
        %span.flash-error
          = f.error_messages.first[:zip_code].first
        %br
        = f.text_field :zip_code, :class => 'field'
        %p
        = submit_tag "Update", :class => 'primary-button', :name => 'update'
        = submit_tag "Cancel", :class => 'primary-button', :name => 'cancel'
