- javascript('users/show')

= content_for :title, "My Account"

= render "shared/header"

#page
  #user-information
    .header
      .heading
        Your account information
    .information
      %p
        %label.field Email Address :
        %label
          = @user.email
      %p
        %label.field Name :
        %label
          = "#{@user.first_name} #{@user.last_name}"
      %p
        %label.field Zip Code :
        %label
          = @user.zip_code
      %p
        %label.field Account Creation Date :
        %label
          = @user.created_at.strftime('%B %e, %Y')
      .link
        = link_to "Edit Information", edit_user_url(@user.id)

  #edit-password
    .header
      .heading
        Change Password
    = form_tag update_password_url do
      .error
        = flash[:notice]
      %p
        = label_tag :old_password, "Enter your current password"
        %br
        = password_field_tag :old_password, nil
      %p
        = label_tag :new_password, "Enter the new password"
        %br
        = password_field_tag :new_password, nil
      %p
        = label_tag :password_confirmation, "Confirm the new password"
        %br
        = password_field_tag :password_confirmation
      %p
        = submit_tag "Update", :class => 'primary-button', :name => 'update'