#footer.less-dull
  = link_to "Home", "#"
  |
  = link_to "About Us", "#"
  |
  = link_to "How it Works", "#"
  |
  = link_to "FAQ", "#"
  |
  = link_to "Careers", "#"
  |
  = link_to "Contact Us", "#"
  |
  = link_to "Terms of Service", "#"
  |
  = link_to "Privacy Policy", "#"