= form_for(@restaurant, :html => {:multipart => true}) do |f|
  #left-field
    = f.label :name, "Name"
    %br
    = f.text_field :name
  #right-field
    = f.label :offer, "Discount"
    %br
    = f.text_field :offer
  %br
  #left-field
    = f.label :cuisine, "Cuisine"
    %br
    = f.text_field :cuisine
  #right-field
    = f.label :website, "Website URL"
    %br
    = f.text_field :website
  %br
  #left-field
    = f.label :address, "Address"
    %br
    = f.text_field :address
  #right-field
    = f.label :phone, "Phone number"
    %br
    = f.text_field :phone
  %br
  #left-field
    = f.label :address_line_2, "Address line 2"
    %br
    = f.text_field :address_line_2
  #right-field
    = f.label :offer_end_date, "Expiration date (mm/dd/yyyy)"
    %br
    = f.text_field :offer_end_date, :maxlength => 10
  %br
  #left-field
    = f.label :offer_valid_days, "Valid Days"
    %br
    = f.text_field :offer_valid_days
  #right-field
    = f.label :offer_valid_times, "Valid Times"
    %br
    = f.text_field :offer_valid_times
  #fields
    = f.label :photo, "Upload photo"
    %br
    = f.file_field :photo
    %br
    = f.label :logo, "Upload logo"
    %br
    = f.file_field :logo
  = submit_tag "Add Restaurant", :class => 'primary-button'