= form_tag restaurant_url(:id => restaurant.id.to_s) do
  #restaurant-box
    #heading
      = hidden_field_tag "restaurant_id", restaurant.id
      %p.restaurant-name
        = restaurant.name
      = submit_tag "Get Offer", :class => 'primary-button'
    #photo
      = image_tag restaurant.photo
    #information
      #restaurant-logo
        = image_tag restaurant.logo
      #address
        = restaurant.address
        %br
        = restaurant.address_line_2
      %p.fields
        Discount
      %p
        = "#{restaurant.offer}% off your entire purchase"
      %p.fields
        Cuisine
      %p
        = restaurant.cuisine
      %p.fields
        Offer Valid
      %p
        = restaurant.offer_valid_days
