= content_for :title, "Table Reserved"

= form_tag "#" do
  #restaurant
    #heading
      = hidden_field_tag "restaurant_id", 1
      %p.restaurant-name
        An Awesome Restaurant
      = submit_tag "Get Offer", :class => 'primary-button'
      %p.description
        Enjoy 30% off on your total bill
    #photo
      = image_tag "/images/first_restaurant.jpg"
