= form_tag "#" do
  #restaurant
    #heading
      = hidden_field_tag "restaurant_id", 1
      %p.restaurant-name
        An Awesome Restaurant
      = submit_tag "Get Offer", :class => 'primary-button'
      %p.description
        Enjoy 30% off on your total bill
    #photo
      = image_tag "/images/first_restaurant.jpg"
    #information
      %p
        = image_tag "/images/logo.gif"
      %p.fields
        Location
      %p
        Some cool neighbourhood
      %p.fields
        Cuisine
      %p
        Italian
      %p.fields
        Offer Valid
      %p
        Till 30th April, on Saturday and Sunday
