= form_tag restaurant_url(:id => restaurant.id.to_s) do
  #restaurant-box
    #heading
      = hidden_field_tag "restaurant_id", restaurant.id
      %p.restaurant-name
        = restaurant.name
      = submit_tag "Get Offer", :class => 'primary-button'
      %p.description
        = "Enjoy #{restaurant.offer}% off your entire purchase"
    #photo
      = image_tag restaurant.photo
    #information
      %p
        = image_tag restaurant.logo
      %p.fields
        Location
      %p
        = restaurant.location
      %p.fields
        Cuisine
      %p
        = restaurant.cuisine
      %p.fields
        Offer Valid
      %p
        = offer_validity(restaurant)
