#payment-form
  = form_tag '#' do
    #credit-card
      %h3
        %span Credit Card Information
        %span.lock
          = image_tag "lock.jpg"
        %span.credit-cards
          = image_tag "credit_card_logos_small.gif"
      #left-field
        = label_tag :first_name, "Cardholder's first name"
        %br
        = text_field_tag :first_name
      #right-field
        = label_tag :last_name, "Cardholder's last name"
        %br
        = text_field_tag :last_name
      #left-field
        %p
          = label_tag :card_number, "Card Number"
          %br
          = text_field_tag :card_number
      #right-field
        %p
          = label_tag :security_code, "Security Code"
          %br
          = text_field_tag :security_code
      #left-field
        %p
          = label_tag :expiration_month, "Expiration Month"
          %br
          = select_tag :expiration_month, options_for_select(1..12)
      #right-field
        %p
          = label_tag :expiration_year, "Expiration Year"
          %br
          = select_tag :expiration_year, options_for_select(2011..2021)

    #billing
      %h3 Billing Information
      #left-field
        = label_tag :street_address, "Street Address"
        %br
        = text_field_tag :street_address
      #right-field
        = label_tag :phone, "Phone Number"
        %br
        = text_field_tag :phone
      #left-field
        %p
        = label_tag :street_address_2, "Street Address Line 2"
        %br
        = text_field_tag :street_address_2
      #right-field
        %p
        = label_tag :city, "City"
        %br
        = text_field_tag :city
      #left-field
        %p
        = label_tag :state, "State"
        %br
        = text_field_tag :state
      #right-field
        %p
        = label_tag :zip_code, "Zip Code"
        %br
        = text_field_tag :zip_code
    %p.charge
      Total Charge for Reservation Code:  $5
    %p
      = submit_tag "Purchase Code", :class => 'primary-button'
