= content_for :title, "Edit"

= render 'shared/header'

#page
  #admin-restaurant
    %h3
      = "Edit details"
    = flash[:notice]
    All fields are mandatory.
    = render "shared/restaurant_form"