- javascript("sessions/show")

= content_for :title, @restaurant.name

= render "shared/header"

#page
  #tabs
    = render "shared/tabs"
    #tabs-1
      #columns
        #left-column
          #step-1.step
            %div.step-heading
              %span.step-number Step 1 :
              %span.heading Review Availability
            %div.step-content
              %p
                = "Discount :  #{@restaurant.offer}% off your entire purchase"
              %p
                Dates : Through
                = @restaurant.offer_end_date.strftime('%B %e, %Y')
              %p
                Days : Valid on
                = @restaurant.offer_valid_days
              %p
                Times :
                = @restaurant.offer_valid_times
          #step-2.step
            %div.step-heading
              %span.step-number Step 2 :
              %span.heading Purchase Reservation Code
            = render "payment_form"
          #step-3.step
            .step-heading
              %span.step-number Step 3 :
              %span.heading Make Reservation
            .step-content
              %p After clicking the purchase code button above a unique reservation code will be sent to you in email.  Simply call the restaurant and book your reservation using this code.  When you arrive at the restaurant remind the host that you made your reservation using TableReserved and your discount will be automatically applied to your total bill.  There is no need to bring any printout or code to the restaurant.  The process is simple and discreet.
              %p
                Worried that your plans may change?  No problem, see our
                = link_to "FAQ", "#"
                and
                = link_to "How it Works"
                pages for more information.
        #right-column
          .step
            .step-heading
              %span.heading
                = @restaurant.name
            .step-content
              #photo
              = image_tag @restaurant.photo
          .information
            %span.fields Address:
            %span
              = @restaurant.address
            %br
            %span
              = @restaurant.address_line_2
            %br
            %span.fields Phone Number:
            %span
              = @restaurant.phone
            %br
            %span
              = link_to "#{@restaurant.website}", @restaurant.website
          .step
            .step-heading
              %span.heading
                Reviews
            .step-content
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nibh in tellus tincidunt dignissim quis facilisis sem. Vivamus a dolor risus. Aliquam laoreet suscipit purus, et semper augue porttitor non.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nibh in tellus tincidunt dignissim quis facilisis sem. Vivamus a dolor risus. Aliquam laoreet suscipit purus, et semper augue porttitor non.
    #tabs-2
      This is how we do it
    #tabs-3
      Get to know us
  = render 'shared/footer'