- javascript("sessions/show")

= content_for :title, @restaurant.name

= render "shared/header"

#page
  #tabs
    = render "shared/tabs"
    #tabs-1
      #columns
        #left-column
          #step-1.step
            %div.step-heading
              %span.step-number Step 1 :
              %span.heading Review Availability
            %div.step-content
              These are the dates and times that this offer is valid
              %p
                Dates : Till
                = @restaurant.offer_end_date.strftime('%B %e, %Y')
              %p
                Days : Valid on
                = @restaurant.offer_valid_days
              %p
                Time :
                = @restaurant.offer_valid_times
          #step-2.step
            %div.step-heading
              %span.step-number Step 2 :
              %span.heading Purchase Reservation Code
            = render "payment_form"
          #step-3.step
            %div.step-heading
              %span.step-number Step 3 :
              %span.heading Make Reservation
            %div.step-content
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nibh in tellus tincidunt dignissim quis facilisis sem. Vivamus a dolor risus. Aliquam laoreet suscipit purus, et semper augue porttitor non.
        #right-column
          .step
            .step-heading
              %span.heading
                = @restaurant.name
            .step-content
              #photo
              = image_tag @restaurant.photo
          .information
            %span.fields Address:
            %span
              = @restaurant.address
            %br
            %span.fields Phone Number:
            %span
              = @restaurant.phone
            %br
            %span
              = link_to "#{@restaurant.website}", @restaurant.website
            .step
              .step-heading
                %span.heading
                  Reviews
              .step-content
    #tabs-2
      This is how we do it
    #tabs-3
      Get to know us
  = render 'shared/footer'